<!DOCTYPE html>
<html lang="en" style="width: 100%">
<a href="#main" class="hidden">Skip to main content</a>
<head>
    <title>Department of Transportation - Open Data Portal | Department of Transportation - Data Portal</title>
    <link rel="stylesheet" type="text/css" href="css/ITS_JPO.css">
    <link rel="stylesheet" type="text/css" href="css/usdot_data_microsite_template.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
</head>

<body id="search-wrapper">
    <div id='searchTerms'>
        <a name="main" id="main"></a>

        <!--===================DOT HEADER===================-->

        <div id="dotTopBanner" style="width: 100%; max-width: 1100px;">
            <img src="images/icons/dot_logo.png" alt="department of transportation logo">
            <div id="dotTopLinks" style="display: flex; line-height: 33px;">
                <a href="https://www.transportation.gov/mission/about-us" style="width: 70px">About DOT&nbsp;&nbsp;</a>
                <p style="color: white;"> | </p>
                <a href="https://www.transportation.gov/briefingroom" style="width: 80px;">Briefing Room&nbsp;&nbsp;</a>
                <p style="color: white;"> | </p>
                <a href="https://www.transportation.gov/our-activities" style="width: 70px;">Our Activities</a>
            </div>
        </div>


        <!--===================SEARCH HEADER===================-->

        <div class="searchHeader" style="background-image: url('images/header_background.png');">

            <div style="margin-left: 8%;">
                <p class="searchHeaderText">EXPLORE ITS JPO DATA - Beta Version</p>

                <!--search bar-->
                <label for="mainSearch" class="hidden">Search</label>
                <input class="mainSearch" id="mainSearch" v-model="query" v-on:keyup.enter="search(query)" v-bind:placeholder="search_placeholder">

                <!--search button-->
                <button class="searchButton" v-on:click="search(query)">SEARCH</button>

            </div>

        </div>

        <div v-show='hideResults === "True"'>


            <!--===================TOPIC BUTTONS===================-->
            <!--"Browse Our Data Set Topics" heading-->
            <div class="heading">
                <p class="headingFont">BROWSE OUR DATA SET TOPICS</p>
            </div>

            <!--topic buttons generated through javascript method create_buttons()-->
            <div id="categoryArea" class="contentArea" align="center" style="padding: 0% 7% 0% 7%">
            </div>


            <!--===================FEATURED DATA SETS===================-->
            <!--heading-->
            <div class="heading" id="wrapper">
                <p class="headingFont">FEATURED DATA SETS</p>
            </div>
            <div class="contentArea" style="background-color: #F7F5F6;">

                <!--data sets generated through javascript method loadFeaturedDatasets()-->
                <!--===================STATIC NON WIDGET ARTICLE===================-->
                <div style="display: flex; margin-left: 8%; margin-right: 8%; " id="datasetArea">
                </div>

            </div>

        </div>


        <!--===================SEARCH RESULTS===================-->

        <div v-show='hideResults === "False"'>
            <!--list of generated search results-->
            <div class="contentArea">
                <h1>NOTICE: Currently the data is limited, more data will be coming shortly as it is being uploaded in the coming months</h1></br>


                <div style="display: flex;">
                    <p class="resultsSectionHeading"><b>SEARCH RESULTS FOR:&nbsp;</b></p>
                    <p class="resultsQuery"><b>{{query}}</b></p><br>
                </div>

                <div style="display: flex;">
                    <p class="resultsSectionHeading"><b>Number of results:&nbsp;</b><p>
                    <p class="resultsQuery"><b>{{resultsJson.length}}</b></p><br>
                    <p class="showFeaturedData" v-on:click="showFeatured">Return to Main Page &raquo;</p>
                </div>

                <hr class="resultsDivider" noshade>
                <br>

                <!--generates a bullet point for each search result item-->
                <div style="margin-left: 100px; margin-right: 100px;">

                    <!--displays results if there are results-->
                    <ul v-if="resultsJson.length > 0" style="list-style: none; padding-left: 0px;">
                        <li v-for="item in resultsJson" style="margin-bottom: 30px; list-style: none;">

                            <!--the data set name-->
                            <a class='resultItemHeader' :href="item.link">
                                {{ item.name }}
                            </a>

                            <!--the data set description-->
                            <p v-if="item.description.length > 0" style="font-size: 15px; padding-top: 5px;">{{ item.description}}</p>
                            <p v-else style="font-size: 15px; padding-top: 5px;">No description available.</p>

                            <!--lists the domain tags-->
                            <div v-if="item.tags.length > 0" style="padding-top: 5px;">
                                <p style="float:left; padding: 3px; height: 30px; line-height: 30px;">Tags: </p>
                                <button v-for="tag in item.tags" class='tag' v-on:click="search(tag)">{{tag}}</button>
                            </div>
                        </li>
                    </ul>

                    <!--displays "No search results." if there are no results-->
                    <div v-else>
                        <p>No search results.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>


<!--IMPORT VUE-->
<script src="./js/vue.min.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/usdot_data_microsite_template.js"></script>
<link rel="stylesheet" href="css/bulma.css">

</html>